:root{
    /* Title and heading */
    --font-primary: "quiverleaf-cf";
    /* Body text */
    --font-secondary: "quasimoda";
    /* Basic font size */
    --text-base-size: 10px;
    /* Type scale */
    --text-scale-ratio: 1.618;
    --text-sm: var(--text-base-size);
    --text-md: calc(var(--text-base-size) * var(--text-scale-ratio)); /*16.18px*/
    --text-lg: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio)); /*26.18px*/
    --text-xl: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio)); /*42.36px*/
    --text-xxl: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio)); /*68.54px*/
    --text-xxxl: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio)); /*110.89px*/

 
}
/* heading */
h1{
    font-size: var(--text-xxxl);
    font-family: var(--font-primary);
}
h2{
    font-size: var(--text-xxl);
    font-family: var(--font-primary);
}
h3{
    font-size: var(--text-xl);
    font-family: var(--font-primary);
}
h4{
    font-size: var(--text-lg);
    font-family: var(--font-primary); 
}
h5{
    font-size: var(--text-md);
    font-family: var(--font-primary); 
    font-style: bold;
}